.container-fluid{
  min-height: 600px;

}

a {
  text-decoration: none;
  color:white;
}

[class*="col-"]{
  float:left;
}

.navbar  a{
 font-size: 20px;
}

a.logo{
  display:inline-block;
  margin-left: 40%;
  font-weight: bold;
  font-size: 30px;
}

.row.navbar{
  padding-top: 40px;
  min-height: 100px;
  color:white;
  border:1px solid white;
  background:#2C3E50;
  margin-bottom:0;
}

.navbar ul{
  margin-left: 10%;
  list-style-type: none;
}

.navbar ul li{
  padding-top: 5px;
  display:inline-block;
  padding-right: 10px;
}

.row.bg-header{
  min-height: 700px;
  background-color: #1ABC9C;
  text-align: center;
  margin-bottom: 40px;
}

.row.bg-header img{
  width: 12%;
  margin-top: 50px;
}

.row.bg-header h1{
  color:white;
  font-size: 50px;
}


.container-fluid.second{
  min-height: 600px;
  background:red;
  padding:5%;
  text-align: center;
}

.container-fluid.second h2{
  display:inline-block;
}

.raw.cont-sec{
  height: 600px;
  background:lightblue;
}


.raw.cont-sec [class*="col-"]{
  height: 100px;
  width: 100px;
  background-color: lightgreen;
  border: 1px solid black;

}
